html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0;
}

#container {
    width: 100%;
    height: 100vh;
    display: block;
    /* background-color: aqua; */

}

#pos_logo {
    width: 80px;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: end;
    }
}

.bi-person {
    font-size: 25px;
}

.navbar-nav {
    gap: 50px;
}


#product_name {
    width: 80%;
    border-radius: 5px;
    height: 40px;
}

.modal-body {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#customer_name {
    width: 80%;
    border-radius: 5px;
    height: 40px;
}

.input_price {
    border-radius: 5px;
    height: 40px;
    width: 50% !important;
}



#home_div {
    padding: 10px;
    display: flex;
    background-color: #e9ebee;
    height: fit-content;
    width: 100%;
    gap: 30px;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    /* flex-direction: column; */

}

.card {
    height: 100px !important;
    margin-top: 50px;
    width: 250px !important;
    /* display: flex !important; */
}

.wrap_div {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#card_left {
    width: 65%;
    height: 100%;
    background-color: white;
}

#card_right {
    width: 35%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.card-body {
    padding: 6px !important;

    display: flex;
}

.invoice {
    background-color: #489ee7;
}

.products {

    background-color: #fb5d5d;
}

.customer {
    background-color: #6fd64b;
}

.sale {
    background-color: #f7941d;
}

#total_count_product {
    height: 50%;
    font-size: 25px;
    font-weight: bold;
}

#total_count_customer {
    height: 50%;
    font-size: 25px;
    font-weight: bold;
}

#total_count_sales {
    height: 50%;
    font-size: 25px;
    font-weight: bold;
}

.count_product {
    color: #fb5d5d;
}

.count_customer {
    color: #6fd64b
}

.count_sale {
    color: #f7941d;
}

.home_links {
    text-decoration: none;
}

#product_div {
    position: fixed;
    right: 0;
    left: 0;
    top: 64px;
    bottom: 0;
    background-color: #e9ebee;
    display: none;
    align-items: center;
    flex-direction: column;
}

#closing_bttn {
    font-size: 30px;
    color: black;
    position: fixed;
    right: 5px;
    cursor: pointer;
    z-index: 1111;

}

#product_table {
    width: 80%;
    margin-top: 50px;
}

#customer_table {
    width: 80%;
    margin-top: 50px;
}

#customer_div {
    position: fixed;
    right: 0;
    left: 0;
    top: 64px;
    bottom: 0;
    background-color: #e9ebee;
    display: none;
    align-items: center;
    flex-direction: column;
}

#invoice_div {
    padding: 10px;
    position: fixed;
    right: 0;
    left: 0;
    top: 64px;
    bottom: 0;
    height: auto;
    background-color: #e9ebee;
    display: none;
    flex-wrap:wrap ;
    /* align-items: center; */
    /* flex-direction: column; */
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card {
    cursor: pointer;
}



#invoice_left {
    width: 60%;
    height: 100%;
    /* background-color: #6fd64b; */
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    height: auto !important;
    
}

#invoice_right {
    width: 40%;
    height: 100%;
    /* background-color: #f7941d; */
    /* justify-content: center; */
    align-items: center;
    display: flex;  
    flex-direction: column;
    border-left: dashed black 1px ;
    
}

#invoice_select_box{
    margin-top: 30px;
    height: 40px;
}
#invoice_select_box_customer{
    margin-top: 30px;
    height: 40px;
}
#invoice_customer_box{
    margin-top: 30px;
    height: 40px;
}

/* .total_card{
    height: 20% !important;
} */



#add_button{
    height: 40px;
    width: 50px;
    color: white;
    font-size: 20px;
    background-color: #489ee7;
    margin-top: 30px;
}

#add_button_left{
    width: 50px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #489ee7;
    margin-top: 30px;
}

.input-group{
    width: 80% !important;
}

#reciept_card{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: scroll;
    min-width: 80% !important;
    width: auto;
    min-height: 30% !important;
    height: auto !important;
}
/* #reciept_body{
    width: fit-content !important;
} */

@media only screen and (max-width: 700px) {
 

    #invoice_left {
        width: 100%;
        min-height: 60%;
        height: auto;
        /* overflow: scroll; */
        /* background-color: #6fd64b; */
    }

    #invoice_right {
        border-left: none;
        border-top: dashed black 1px;
        width: 100%;
        min-height: 70%;
    }
    #reciept_card{
        width: 100% !important;
        height: 50% !important;
        overflow: auto;
    }  

    #invoice_customer_box{
        margin-top: 10px !important;
        height: 40px;
        /* width: 100% !important; */
    }

}

.margin_card{
    margin-top: 0 !important;
}

#reciept_table{
    width: 100%;
}

#price_input{
    width: 50px;
    border: 0   ;
}

#quantity_input{
    width: 50px;
    border: 0   ;
    cursor: text;
}
.reciept_card{
    flex-direction: column;
}

#reciept_customer_name{
    width: 100%;
    height: 40%;
    background-color: #6fd64b;
    border-bottom: dashed black 1px;
    
}
/* #reciept_total_amount{
    width: 100%;
    height: 70%;
    background-color: #f7941d;
    color: black;
    font-size: 30px;
} */

#delete_button{
    color: red;
}

#reciept_div{
    display: flex;
}

#reciept_total_amount{
    width: 50%;
    height: 100%;
    background-color: #f7941d;
}








